<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>SimpleJ2EEProject</display-name>

    <listener>
        <listener-class>
            com.teaminternational.web.ContextListener
        </listener-class>
    </listener>
    
    <servlet>
   		<servlet-name>NewServlet</servlet-name>
    	<servlet-class>com.teaminternational.web.NewServlet</servlet-class>
	</servlet>
 
	<servlet-mapping>
    	<servlet-name>NewServlet</servlet-name>
    	<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>